<%- include('partials/header')%>
<div class="container">
    <div class="card">
        CONF NORTE
    </div>

    <div class="card">
        CONF SUL
    </div>
</div>
<%- include('partials/footer')%>