<%- include('partials/header') %>


<div class="container main-container">
    <img src="images/greek.png" class="image-wallpaper" style="margin-left:4%; " width="320rem;">
    <img src="images/2k.png" style="margin-left:12%; margin-right:12%;" width="200rem">
    <img src="images/bryant.png" style="margin-left:2%;" width="200rem">
    <h1 class="display-3 text-center">LIBRA</h1>
    <h2 class="text-center">A maior liga de NBA2K do Brasil!</h2>
    <hr>
    <div class="home-button">
      <a class="btn btn-light btn-lg"  href="/register" role="button">Cadastrar para próxima temporada</a>
      <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    </div>
</div>

<%- include('partials/footer') %>
